@charset "UTF-8";

.addForm {
  position:absolute;
  width:650px;
  height:450px;
  padding: 30px, 20px;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
}
.addForm > div{
	margin: 0 auto;
	margin-top: 15px;
}

.file-div > #files {
	background-color:transparent;
	border:0px transparent solid;
}

#imageContainer > img{
	margin-right: 8px;
	width: 100px;
	height: 100px;
}

.addForm > div > input[type="submit"]{
	width: 80px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}