.col>.table thead,tbody,tfoot{
	border-bottom: 1px solid #c2c2c2 ;
	font-family: "Roboto","Arial","Nanum Gothic","Malgun Gothic","맑은 고딕","Dotum","돋움","Apple SD Gothic Neo","AppleGothic",sans-serif;
	font-size: 14px; 
}
.container > .row > h2{
	margin-bottom: 100px;
}
#cartTable{
	overflow : auto;
}
.qlText{
	background-color: #f5f5f5;
	text-align: left;
}
.qlText > h5{
	font-size: 15px;
	padding-left: 10px;
	padding: 15px 15px;
	border: 1px solid #eeeeee ;
}
.sumText{
	text-align: right;
}
.sumTextTr{
	border: 1px solid #eeeeee ;
	background-color: #f5f5f5;
}
.thumbnail{
	width: 80px;
	height: 80px;
}
.cartListTr {
	height: 100px;
	vertical-align: middle;
}
.pInfo{
	text-align: left ;
}

.pInfo > a{
	text-decoration: none;
	color: black;
}
.quantityTd > input{
	width: 48px !important;
	text-align: center;
}

.quantityTd > input[type="number"]::-webkit-outer-spin-button:hover,
.quantityTd > input[type="number"]::-webkit-inner-spin-button:hover{
	cursor: pointer;
   -webkit-appearance: "Always Show Up/Down Arrows";
   opacity: 1;
}

.quantityTd > input[type="number"]::-webkit-outer-spin-button,
.quantityTd > input[type="number"]::-webkit-inner-spin-button{
   -webkit-appearance: "Always Show Up/Down Arrows";
   opacity: 1;
}
.cartOpText{
	font-size: 12px;
	color: #aeaeae;
}
input[type="checkbox"]{
	zoom: 1.5;
	cursor: pointer;
}
.cartTitleTr{
	vertical-align: top;
}
.sumPrice,.sumPrice1,.sumPrice2,.sumPrice3,.sumPrice4{
	width: 116px;
}
.delChargeText{
	width: 90px;
}
#totalPrice{
	font-size: 20px;
	font-weight: bold;
}
.emptyCart{
	text-align: center;
	vertical-align: middle;
}
.emptyCart > td{
	font-size: 18px;
	line-height: 300px;
}
.fas {
	color: #aeaeae;
}
.selectBtnTd{
	width: 116px;
}
.selectBtn{
	width: 80px;
	margin: 7px;
	border: 1px solid #aeaeae;
	border-radius: 3px;
	background-color: white;
}

.selectBtn:hover{
	background-color: #f5f5f5;
}

#guideRow{
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top:30px;
	padding-bottom:30px;
	border: 1px solid #aeaeae;
}
#guideRow a{
	color:gray;
	text-decoration: none;
}
#guideCol{
	text-align: left;
	margin-left: 120px;
}

#guideCol > ol{
	list-style: none;
	color: gray;
}
.qChangeBtn{
	padding: 3px;
	border: 1px solid #aeaeae;
	border-radius: 3px;
	background-color: white;
	font-size: 13px;
}

.qChangeBtn:hover{
	background-color: #f5f5f5;
}

