.detailTextTable{
	border-collapse:separate;
	border-spacing: 0 20px;
	border-top: solid 2px black ;
	border-bottom: solid 2px #bbc2bc ;
    font-family: "Roboto","Arial","Nanum Gothic","Malgun Gothic","맑은 고딕","Dotum","돋움","Apple SD Gothic Neo","AppleGothic",sans-serif;
    width: 480px;
}
.detailTextTable > tr > td,th{
	width: 240px;
}
.detailName{
	border-bottom: solid 1px #bbc2bc ;
	padding-bottom: 15px;
	text-align: left;
}
.detailPrice{
	text-align: left;	
}
.detailText{
	font-size: 13px;
	text-align: left;	
}
.quantityTable{
	margin-top:30px;
	font-family: "Roboto","Arial","Nanum Gothic","Malgun Gothic","맑은 고딕","Dotum","돋움","Apple SD Gothic Neo","AppleGothic",sans-serif;
	font-size: 13px;
}
.quantityThead{
	border: solid 1px #bbc2bc ;
	text-align: center;
}
.quantityTbody{
	text-align: center;
	border-spacing: 0;
    border-collapse: collapse;
}
.quantityThead > tr > td{
	width: 160px;
	padding:10px;
	border: solid 1px #bbc2bc ;
}
.quantityTbody > tr > td{
	width: 160px;
	padding:10px;
	border-bottom: solid 1px #bbc2bc ;
}
.quantitySpan > input{
	width: 48px !important;
	text-align: center;
}
.quantitySpan{
	display: inline-block;
    position: relative;
    text-align: center;
}

.total{
	padding: 20px;
	text-align: right;
}
.total > span{
	font-weight: bold;
	font-size: 20px;
}

.favoriteButton , .cartButton{
	width: 160px;
	height: 60px;
	background-color:white;
	border: solid 1px #bbc2bc;
	border-radius: 5px;
}
.favoriteButton:hover , .cartButton:hover{
	border: solid 3px gray;
}

.buyButton{
	width: 160px;
	height: 60px;
	border: solid 1px #bbc2bc;
	border-radius: 5px;
	background-color: black;
	color: white;
}
.buyButton:hover{
	-webkit-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

#detailBox{
	margin-top: 100px;
	padding-top: 100px;
	text-align: center;
}

#guideBox{
	margin-top: 100px;
	padding-top: 100px;
	text-align: center;
}
#topGuideVar,#middleGuideVar,#bottomGuideVar{
	margin-top: 100px;
	border-top: solid 1px #bbc2bc ;
}
.guideVar {
	display:flex;
	justify-content:center;
	list-style:none;
}
.guideText{
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 23px;
	font-size: 20px;
	vertical-align: middle;
}

.guideText > a{
	display:block;
	width:150px;
	height:40px;
	border-radius: 6px;
	color: gray;
	text-decoration: none;
}
.guideText > a:hover{
	-webkit-transition-duration: 0.4s;
	background-color: #f5f5f5;
	color: black;
}
#optionTbody1,#optionTbody2,#optionTbody3,#optionTbody4{
	display: none;
}

.quantitySpan > input[type="number"]::-webkit-outer-spin-button:hover,
.quantitySpan > input[type="number"]::-webkit-inner-spin-button:hover{
	cursor: pointer;
   -webkit-appearance: "Always Show Up/Down Arrows";
   opacity: 1;
}

.quantitySpan > input[type="number"]::-webkit-outer-spin-button,
.quantitySpan > input[type="number"]::-webkit-inner-spin-button{
   -webkit-appearance: "Always Show Up/Down Arrows";
   opacity: 1;
}

#delButton:hover{
	cursor: pointer;	
}

#thumbnail{
	width: 500px;
	height: 500px;
	margin-right: 100px;	
}

#thumbnail > img{
	width: inherit;
	height: inherit;	
}

#detailContainer >.row{
	text-align: center;
	justify-content: center;
}