body{
	background-color: white;
}
#emailChckDiv{
	text-align: center;
}

#emailChckDiv div{
	padding: 18px;
	
}
#emailChckDiv button{
	margin-left: 8px;
	width: 90px;
	height: 23px;
	background-color: #67b08f;
	color:white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

#emailChckDiv input[type="text"]{
	font-size: 15px;
	text-align: center;
}
#inputEmail{
	width: 250px;
	height: 40px;
}

#inputEmail2{
	width: 125px;
	height: 40px;
}
.successEmailChk{
	color: green;
	font-size: 14px;
}

.loader {
	position: absolute; 
	left: 50%; 
	top: 50%;
	z-index: 1;
	width: 25px; 
	height: 25px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #67b08f;
	width: 25px; 
	height: 25px; 
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite; 
	display: none;
}
	
@-webkit-keyframes spin { 
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); } 
}
	 
@keyframes spin {
	 0% { transform: rotate(0deg); }
	 100% { transform: rotate(360deg); }
}

