@charset "UTF-8";

footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	 height: auto;
	 display: #d5dbda;
	 padding:0 38px;
	 box-sizing:border-box;
     margin-top:150px;
}

footer p{
	padding: 33px 0 43px;
    font-size: 11px; 
    margin:0;
}

@media screen and (max-width:768px){
	footer{
		position:abolute;
		padding:0 17px;
		margin-top:0;
	}
	.footer__menu li{
	    padding: 8px;
	}
}

@media screen and (max-width:400px){
	.footer__menu li a {
	    font-size: 13px;
	}
}

