@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
*{
	font-family: 'IBM Plex Sans KR', sans-serif;
}
.logo{
	text-align: center;
}
.header-logo{
	width: 150px;
}
.navbar-brand{
	margin-left: 40px;
}
.top-div{
	display:flex;
	justify-content: space-between;
}

.top-ul{
	display:flex;
    list-style: none;
    padding-left: 0px;
    margin-top: 0.85em;
    margin-bottom:0;
}
.top-sns > a{
    color : gray;
    display:flex;
    align-items:center;
    text-decoration: none;
    margin:0 10px;
}
.top-text > a{
    color:gray;
    display:flex;
    text-decoration: none;
    margin:0 10px;
}
input[type=search]{
	width: 300px;
}

#mypage-menu{
	margin: 0 auto;
	/*overflow: hidden;*/
	text-align: center;
	position: relative;
}

#mypage-menu:hover .mypage-sub{
	display: block;
}

.mypage-sub{
	height: 100px;
	position: absolute;
	display: none;
	background-color: #edf5ee;
	border-radius: 10px;
	transition: 0.5s;
	width: 100%;
	text-align: center;
    margin: 0;
    padding: 0;
    
}
.mypage-sub > li {
	margin-top: 6px;
}

.mypage-sub > li > a{
	font-size: 13px;
	color: black;
	text-decoration: none;
}
.mypage-sub > li > a:hover{
	transition: ease 0.5s;
	background-color: #bbc2bc;
	border-radius: 5px;
}




