.row > h2{
	margin-top: 100px;
}
#card{
	margin-top: 110px;
	border: 1px solid white;
}
.row > .col{
	width: 300px;
	height: 500px;
}
#midBanner { 
	margin-top: 70px;
}
.productName{
	font-weight: bold;
 	font-family: "Roboto","Arial","Nanum Gothic","Malgun Gothic","맑은 고딕","Dotum","돋움","Apple SD Gothic Neo","AppleGothic",sans-serif;
 	text-align: center;
}
.productPrice{
 	border-top: solid 1px gray;
	list-style:none;
	display:block;
	text-align: center;
	margin: 5px auto;
}