@charset "UTF-8";

.Frame{
	display: flex;
	justify-content:center;
	margin: 15% auto;
}
.pwForm{
	position:absolute;
	width:370px;
	height:250px;
	text-align:center;
	justify-content:center;
}
.pwForm >button[type=submit]{
	margin-top: 10px;
	width: 150px;
	background-color: #67b08f;
	border: white;
	color: white;
}

.pwForm > p{
	font-size: 13px;
}
