#card{
	border: 1px solid white;

}
#cardList{
	margin-bottom: 70px;
}
.row > .col{
	width: 300px;
	height: 500px;
	text-align: center;
}

.container{
	margin-top: 100px;
	justify-content: center;
}

.container >.row{
	text-align: center;
}
.container > h2{
	margin-bottom: 100px;
}

.productName{
 	text-align: center;
}
.productName > a{
 	font-family: "Roboto","Arial","Nanum Gothic","Malgun Gothic","맑은 고딕","Dotum","돋움","Apple SD Gothic Neo","AppleGothic",sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.productName > a:hover{
	color: black;
}
.productPrice{
	padding-top: 5px;
	margin-top: 5px;
 	border-top: solid 1px #aeaeae;
	list-style:none;
	text-align: center;
}

.pagenum {
    border: 1px solid gray;
    border-radius: 3px;
    color: #378062;
    padding: 3px 5px;
    text-decoration: none;  /*  밑줄제거  */
    cursor: pointer;
    display: inline-block;
	text-align:center;
	font-size: 9pt;
}
.pagenum:hover{
	  background-color: #e0e0e0;
	  color:white;
} 
.none {
	display: none;
}
