@charset "UTF-8";

.kakaoLogo{
	margin-top: 20px;
}

.loginForm {
  position:absolute;
  width:450px;
  height:450px;
  padding: 30px, 20px;
  background-color:#f8f9fa;
  text-align:center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
}

.loginForm h2{
  text-align: center;
  margin: 30px;
}

.idForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.passForm{
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}

.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pw {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.loginForm > .btn {
  position:relative;
  left:40%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width:80%;
  height:40px;
  background: linear-gradient(125deg,#ccebcc,#9bb99b,#ccebcc);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  border-radius : 4px;
  cursor:pointer;
  transition: 0.4s;
}

.btn:hover {
  background-position: right;
}

.bottomText {
  text-align: center;
  color: grey;
}
.bottomText > a{ /*회원가입 아이디찾기 비밀번호 찾기*/
  color: grey;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.bottomText > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ccebcc;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.bottomText > a:hover:before, .bottomText > a:focus:before, .bottomText > a:active:before {
  right: 0;
}

.login-div{
	display: flex;
	margin: 400px;
	justify-content: center;
	width: 70%;
}