@charset "UTF-8";
.regist-form{
	height : 150%;
	display: flex;
	margin-top : 100px;
	margin: auto;
	justify-content: center;
	width: 70%;
	align-items: center;
}
#regist-btn{
	width : 200px;
	justify-content: center;
	margin : 0 auto;
	align-items: center;
	background-color: #67b08f;
	border: none;
}
#checkbtn{
	margin-top: 8px;
	background-color: #67b08f;
	border:none;
}
h3{
	margin-top: 100px;
}

*{margin: 0;padding: 0;box-sizing: border-box}
body{background-color: #f7f7f7;}
ul>li{list-style: none}
a{text-decoration: none;}
.checkInput::after{content: "";display: block;clear: both;}
.checkAllInput::after{content: "";display: block;clear: both;}

#joinForm{width: 120%;margin: 80px auto;}
ul.join_box{border: 1px solid #ddd;background-color: #fff;}
.checkBox,.checkBox>ul{position: relative;}
.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 600;color: #888;}
.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
.checkBox textarea{width: 96%;height: 90px; margin: 10px 2%;background-color: #f7f7f7;color: #888; border: none;}



