.reviewOpBox{
	display: flex;
	justify-content: center;
	border: 1px solid #e0e0e0;
}
.reviewOpBox > div{
	padding-top: 10px;
	line-height: 33px;
	margin-left: 15px;
	vertical-align: bottom;
}
#writeForm{
	border: 1px solid #e0e0e0;
	width: 900px;
	height: 950px;
	margin: 0 auto;
	padding-left: auto;
	padding-right: auto;
}
#writeForm > div{
	padding: 30px;
}
.contentBox{
	display: flex;
	justify-content:center;
	vertical-align: middle;
}
.contentBox textarea{
	resize: none;
}
.contentText{
	line-height: 300px;
	margin-right: 30px;
}
#writeBtn{
	width: 120px;
	height: 35px;
	background-color: #67b08f;
	color:white;
	border-radius: 4px;
	border: none;
}

.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}

.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 25px;
    height: 25px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}

.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 25px;
    height: 25px;
    background-image: url('../image/starrate.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.rating .rate_radio:checked + label {
    background-color: #ffc84b;
}
